/* root */
:root {
  --color-title-dark-blue: #14183e;
  --color-title-blue: #1e1d4c;
  --color-hero-title: #181e4b;
  --color-button-yellow: #ff9500;
  --color-button-white: #ffffff;
  --color-button-yellow-secondary: #ff946d;
  --color-primary-gray: #212832;
  --color-secondary-gray: #5e6282;
  --color-newsletter-txt: #39425d;
  --color-footer-dark: #080809;
}

/* Base */

* {
  box-sizing: border-box;
}

body {
  color: var(--color-secondary-gray);
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  margin: 0;
}

.sections-title {
  font-size: 50px;
  font-weight: 700;
  color: var(--color-title-dark-blue);
  line-height: 130%; /* 65/50 */
  font-family: 'Volkhov', sans-serif;
}

.txt-sections {
  font-size: 18px;
  line-height: 150%; /* 27/18 */
  font-weight: 600;
  margin-bottom: 12px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

h3 {
  color: var(--color-title-blue);
  font-size: 20px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
}

ul {
  list-style-type: none;
}

.link {
  text-decoration: none;
  color: var(--color-primery-gray);
  font-size: 17px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
}

.visually-hidden {
  position: absolute;
  left: -1000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.container {
  max-width: 1248px; /*ширина за макетом 1500px*/
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;
}

/* Button */

.button {
  background-color: transparent;
  color: var(--color-primary-gray);
  border-radius: 5px;
  border: 1px solid var(--color-primary-gray);
  cursor: pointer;
  width: 102px;
  height: 40px;
  font-weight: 500;
  font-size: 17px;
  font-family: 'Open Sans', sans-serif;
}
/* Hero section */
.hero-section {
  padding-bottom: 48px;
}

.txt-hero-section {
  color: #df6951;
  font-size: 20px;
  font-weight: 700;
}

.hero-title {
  color: var(--color-hero-title);
  font-weight: 700;
  font-size: 84px;
  line-height: 105.952381%; /* 89/84 */
  letter-spacing: -4px;
  font-family: 'Volkhov', sans-serif;
  letter-spacing: -4px;
  margin-top: 24px;
  margin-bottom: 30px;
}
.txt-hero-section {
  padding-top: 34px;
}

.text-hero-section {
  line-height: 187.5%; /* 30/16 */
  margin: 0 0 21px;
}
.main-button {
  background-color: var(--color-button-yellow);
  border-radius: 10px;
  color: var(--color-button-white);
  cursor: pointer;
  border-inline: var(--color-button-yellow) solid 2px;
}

.main-button:hover {
  color: var(--color-button-yellow);
  background-color: var(--color-button-white);
}

/* Category section */

.category-section {
  padding: 48px 0 62px;
}

.category-text {
  font-family: 'Open Sans', sans-serif;
}
.category-title {
  margin-bottom: 120px;
}
.category-txt {
  margin-bottom: 15px;
}

/* Desitnations section */

.txt-desitnations {
  margin-bottom: 10px;
}
.desitnations-title {
  margin-bottom: 60px;
}

.desitnations-section {
  padding: 62px 0 93px;
}

/* Booking section */
.booking-title {
  margin-bottom: 32px;
}
.booking-section {
  padding: 93px 0 102px;
}

.booking-txt {
  font-weight: 400;
}

li:not(:last-child) .booking-txt {
  margin-bottom: 48px;
}

.booking-text {
  font-weight: 700;
}

/* Testimonials section */

.testimonials-section {
  padding: 102px 0 51px;
}
/* partner airlines */

.partner-airlines {
  padding: 51px 0 60px;
}

/* Newsller section */

.newsletter-section {
  padding-top: 60px;
  padding-bottom: 57px;
}

.newsler-title {
  font-size: 33px;
  font-weight: 600;
  line-height: 163.636364%; /* 54/33 */
}

.newsletter-button {
  color: var(--color-button-white);
  background-color: var(--color-button-yellow-secondary);
  border-radius: 10px;
  border-inline: var(--color-button-yellow-secondary) solid 2px;
  cursor: pointer;
  width: 180px;
  height: 68px;
  font-weight: 600;
  font-size: 17px;
}

.newsletter-button:hover {
  color: var(--color-button-yellow-secondary);
  background-color: var(--color-button-white);
}
.newsltter-frame {
  width: 421px;
  height: 68px;
  border-radius: 10px;
  border: 1px solid #000;
  font-size: 14px;
  font-weight: 400;
  line-height: 121.428571%; /* 17/14 */
}

/* Footer */

.footer-link {
  font-size: 18px;
  font-weight: 500;
  line-height: 124.5%;
  color: var(--color-secondary-gray);
}
.footer-title {
  font-size: 21px;
  font-weight: 700;
  color: var(--color-footer-dark);
}
